body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #355DA3;
    margin: 0;
    font-family: rubik;
    color: white;
  }

@font-face {
    font-family: 'Pokemon Hallow';
    src: url('pokemonFont/title/Pokemon\ Hollow.ttf');
    font-family: 'Pokemon Solid';
    src: url('pokemonFont/title/Pokemon\ Solid.ttf');
}

@font-face {
    font-family: 'pixelName';
    src: url('pokemonFont/card/pixelfont.ttf');
}

.title {
    font-family: 'Pokemon Solid';
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 15em;
    text-shadow: -20px -20px 0px rgb(0 0 0), 
                 0px 0px 0px rgb(0 0 0), 
                 0px 0px 0px rgb(0 0 0), 
                 -20px 20px 0px rgb(0 0 0);
    -webkit-text-fill-color: orangered;
    -webkit-text-stroke: 8px white;
    margin: .6em;
    transition: transform.2s,
}

.title:hover{
    transform: scale(1.5);
}
  
.pokemonList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 100px 300px;

}

.pokemon-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 400px;
    text-align: center;
    background-color: silver;
    color: white;
    border: 20px solid goldenrod;
    border-radius: 10px;
    transition: transform.2s,
}
.pokemon-card:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.pokemon-card img{
    object-fit: contain;
    object-position: top;
    width: 80%;
    height: 65%;
    border: 3px solid rgba(103, 103, 103, 0.746);
    background-color: whitesmoke;
}

.pokemon-name {
    font-family: 'pixelName';
    font-size: 20px;
    color: black;
    background-color: whitesmoke;
    padding: 15px;
    border: 3px solid rgba(103, 103, 103, 0.746);
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 95%;
    padding: 30px;
    gap: 30px;
    background-color: rgb(40, 40, 40);
}

.search input{
    font-family: 'pixelName';
    background-color: whitesmoke;
    color: darkred;
    border: 3px solid rgba(103, 103, 103, 0.746);
    font-size: .7em;
    padding: 15px;
    border-radius: 50px;
    width: 50%;
    height: 2em;
}

.search input:focus{
    border: none;
    outline: none;
}

.filterBtns{
}

.button-type{
    font-family: 'pixelName';
    background-color: whitesmoke;
    color: red;
    border: 2px solid rgba(103, 103, 103, 0.746);
    font-size: .5em;
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
    text-align: center;
    width: 6rem;
    height: 1em;
    text-align: center;
}

.button-reset{
    font-family: 'pixelName';
    background-color: whitesmoke;
    color: darkred;
    border: 3px solid rgba(103, 103, 103, 0.746);
    font-size: .7em;
    padding: 15px;
    border-radius: 50px;
    width: 15%;
    height: 2em;
}